@tailwind base;
html{
    scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        
    }
}

.slick-slide > div{
    margin: 0 20px
}