@tailwind base;
html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
input[type="date"]{
-webkit-appearance: none;
width:80%;
height: 40px;
}


@tailwind components;
@tailwind utilities;


@layer base{
    @font-face{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        
    }
}

.slick-slide > div{
    margin: 0 20px
}